@media screen and (max-width: 991px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;

    }

    .nav-links {
        display: none;
    }

    .example-card {
        width: calc(50% - 10px);
        height: 180px;

    }

    .cta-section {
        padding-block: 80px;
    }
}

@media screen and (max-width: 767px) {

    
    
}